html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}
/* --- Bizim Özel Kart Efektlerimiz --- */

.card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
    border: none; /* Kenarlardaki ince çizgiyi kaldırıp daha modern yapalım */
}

    .card:hover {
        transform: translateY(-10px); /* Kartı 10 piksel yukarı kaldır */
        box-shadow: 0 10px 25px rgba(0,0,0,0.15) !important; /* Gölge ekle */
    }

.card-header {
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
}